<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials ::head(pageTitle='Edit Post')"></head>

<body>
<div th:insert="partials ::navbar"></div>

<div class="container">
<h1>Edit post</h1>
<form th:method="POST" th:object="${posts}" th:value="${postId}" th:action="@{'/edit/' + ${postId}}">
    <input type="hidden" th:field="*{id}" name="postId"/> <!--probably don't need this since I'm grabbing the id in the url-->
    <input type="hidden" th:field="*{user}" name="userId"> <!--need to get the userId so it will update in the DB?-->
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" th:field="*{title}" th:value="title" />
    <br />
    <label for="body">Body</label><br>
    <textarea id="body" th:field="*{body}" name="body"></textarea>
    <br />
    <input type="submit" value="Submit Changes">
</form>
</div>
</body>
</html>