<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">

<head th:replace="partials ::head(pageTitle='Show one post')"></head>

<body>
<!--<h2 th:text="${onepost.title}"></h2>-->
<!--<p th:text="${onepost.body}"></p>-->
<div class="container">
    <h2 th:value="${post.id}" th:text="${post.title}"></h2>
    <p th:text="${post.body}"></p>
<!--    <p th:text="${email}">created by:</p>-->

    <!--the form method is GET, not POST, because I want to send them to the form to edit the post-->
    <form method="GET" th:action="@{'/edit/' + ${postId}}">
        <input type="hidden" name="postId" id="postId" th:field="*{post.id}" />
        <button type="submit" name="submit" value="editPost">Edit</button>
    </form>

</div>
</body>
</html>